.qty-btn {
	border-radius: 0px !important;
	width: 40px !important;
	height: 40px !important;
}

.qty-input {
	width: 40px !important;
	height: 40px !important;
	border: 0px !important;
}

.qty-control {
	border: 1px solid black;
}

.home-img {
	z-index: 0;
}

.home-catalog {
	width: 100%;
}

.home-btn {
	z-index: 10;
	top: 37%;
	left: 20%;
}


@media only screen and (max-width: 760px) {

}

@media only screen and (min-width: 761px) and (max-width: 960px) {
	
}